style.
  /*
  * Based on Cover by https://twitter.com/mdo"  @mdo
  * added cover image and background color to match (green)
  *
  * Globals
  */
  .body{
    min-height:1366px;
  }

  .row{
    margin-bottom: 50px;
    margin-left:0;
    margin-right:0;
  }

  /* Custom default button */
  .btn-default,
  .btn-default:hover,
  .btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
  }
  /*
  * Base structure
  */

  /* Extra markup and styles for table-esque vertical and horizontal centering */
  .cover-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  display: table-cell;
  background-color:lightgrey;
  }
  .cover-container {
  margin-right: auto;
  margin-left: auto;
  }
  /* Padding for spacing */
  .inner {
  padding: 30px;
  }
 
  /*
  * Cover
  */
  .cover {
  padding: 0 20px;
  padding-top:5%;
  text-align: center;
  }
  .cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  }
  /* Handle the widths */
  .cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  }
  @media (min-width: 992px) {
  .cover-container {
  width: 700px;
  }
  }

  /*grid2 css*/.
  img { max-width:100%; }
  a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  }
  a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE7 */
  opacity: 0.6;
  text-decoration: none;
  }
  body{
  border-top:0;
  background:#fff;
  }
  .btn-mini{
  border-top: 1px solid #e8e8e8;
  border-radius: 0px;
  width: 100%;
  color: #b2adad;
  }
  .casing{
  border:1px solid #e8e8e8;
  float:left;
  width:100%;
  }
  .thumbnail {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  }
  .thumbnails li> .fff .caption {
  background:#fff !important;
  padding:10px
  }
  ul.thumbnails {
  margin-bottom: 0px;
  }
  .caption h4 {
  color: #444;
  text-indent: 10px;
  }
  .caption p {
  color: #999;
  padding: 0px 10px;
  }
  .control-box {
  text-align: right;
  width: 100%;
  }
  .carousel-control{
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
  }
  @media (max-width: 479px) {
  .caption {
  word-break: break-all;
  }
  }
  li { list-style-type:none;}
  ::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
  ::-moz-selection { background: #ff5e99; color: #FFFFFF; }
  .left{
  float:left;
  }
  .right{
  float:right;
  margin-right:-35px;
  }
  .arrowStil{
  border-radius: 23px !important;
  padding: 11px 14px !important;
  }

